
%tier_list

  %tier
    %span.tier-rank
      TIER 1
    %heroes_list
      %hero.specialist
        %span.hero-name SYLVANAS
        %skill_order
          %ol
            %li 3
            %li 4
            %li 2
            %li 2
            %li 4
            %li 1

      %hero.tank
        %span.hero-name UTHER
        %skill_order
          %ol
            %li 3
            %li 4
            %li 2
            %li 2
            %li 4
            %li 1


      %hero.assassin
        %span.hero-name KAELTHAS
        %skill_order
          %ol
            %li 3
            %li 4
            %li 2
            %li 2
            %li 4
            %li 1

      %hero.support
        %span.hero-name BRIGHTWING
        %skill_order
          %ol
            %li 3
            %li 4
            %li 2
            %li 2
            %li 4
            %li 1

%app#app





























