
%tier_list

  %tier
    %span.tier-rank
      TIER 1
    %heroes_list
      %hero.specialist
        %span.hero-name Sylvanas
        %skill_order
          %ol
            %li 3
            %li 4
            %li 2
            %li 2
            %li 4
            %li 1

      %hero.tank
        %span.hero-name Uther
        %skill_order
          %ol
            %li 3
            %li 4
            %li 2
            %li 2
            %li 4
            %li 1


      %hero.assassin
        %span.hero-name Kaelthas
        %skill_order
          %ol
            %li 3
            %li 4
            %li 2
            %li 2
            %li 4
            %li 1

      %hero.support
        %span.hero-name Brightwing
        %skill_order
          %ol
            %li 3
            %li 4
            %li 2
            %li 2
            %li 4
            %li 1






























