
%tier_list

  %tier
    %span.tier-rank
      TIER 1
    %heroes_list
      %hero.assassin
        %span.hero-name Sylvanas
        %skill_order
          %ol
            %li 3
            %li 4
            %li 2
            %li 2
            %li 4
            %li 1





